.uwc{
    max-width: 100%;
}
.uwl {
    max-width: 100%;
}

.uwc-container{
    width: min(100%, 35rem);
    margin: var(--spacing-8, 0.5rem) auto;
    padding: var(--spacing-12, 0.75rem);
}

.uwl-container{
    width: min(100%, 35rem);
    margin: var(--spacing-8, 0.5rem) auto;
    padding: var(--spacing-12, 0.75rem);
}

.uwc-form{
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: var(--spacing-4, 0.25rem);
}

.uwc-form > label {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4, 0.25rem);
}

.uwc-form > input {
    padding: var(--spacing-4, 0.25rem);
    border: 1px solid var(--color-lightgrey, #CDC9C9);
    border-radius: 0.25rem;
}

@media (min-width: 1025px) {
    .uwc-container{
        width: min(100%, 50rem);
    }

    .uwl-container{
        width: min(100%, 50rem);
    }   
}